// Project Variables
$brown: #454545;
$dark: #1D1D1D;
$red: rgb(231, 4, 4);

$shadow_100: 0px 1px 1px rgba(0, 0, 0, 0.25);
$shadow_200: 0px 2px 2px rgba(0, 0, 0, 0.25);
$shadow_300: 0px 3px 3px rgba(0, 0, 0, 0.25);
$shadow_400: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow_1: 0px 2px 6px 0px rgba(0, 0, 0, 5%);

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
  Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// media aliases and breakpoints
// $screen-vs-min: 320px;
// $screen-vs-max: 479px;

$screen-xs-max: 767px;

// small -> 600 to 959
$screen-sm-min: 768px;
$screen-sm-max: 959px;

$screen-md-min: 960px;
$screen-md-max: 1279px;

$screen-lg-min: 1280px;
$screen-lg-max: 1919px;

$screen-xl-max: 5000px;
$screen-xl-min: 1920px;
