
body{
    background-color: $dark;
}


.red{
    background-color: $red;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.sidebar{
    @include test;
    display: flex;
    flex-direction: column;
    width: 10%;
}